# Ignore WhatsApp node_modules
src/tools/whatsapp_listener/node_modules/
# Ignore WhatsApp session data
src/tools/sessions/
# Ignore Gmail OAuth token file
token.pickle
venv
.venv/
__pycache__/
*.pyc
.env
src/tools/email_credential.json

# Ignore Google and Microsoft credentials
src/tools/google_listener/gcp_credential.json
token.json
src/tools/microsoft_listener/msal_token_cache.bin
src/tools/whatsapp_listener/auth/

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed
